.Hero {
  background-color: var(--metabike-color-secondary);
  min-width: 700px;
}

.DefaultHeroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LinkStrava {
  margin: 20px 0;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.LinkStrava a {
  height: 48px;
}

.Start {
  display: flex;
  align-items: flex-end;
}

.StravaButton {
  transition: ease-in 0.2s transform;
}

.StravaButton:hover {
  transform: scale(1.04);
}

:global(#finger) {
  animation: bounce 0.8s ease-in 0s alternate infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

.Header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Header h1 {
  font-size: 4em;
  margin: 0 20px 0 0;
  text-align: right;
}
