.BikeCard {
  background-color: var(--metabike-color-secondary);
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
}

.BikeCard h1 {
  margin-top: 0;
  text-align: left;
}

.BikeCard [data-type='tag'] {
  font-size: 0.6em;
  opacity: 0.5;
  margin: 0 5px;
}

.Avatar {
  display: inline-block;
  background: var(--metabike-color-light2);
  padding: 10px;
  border: 4px var(--metabike-color-secondary) solid;
  border-radius: 50%;
  top: 20px;
  position: absolute;
  left: -40px;
}

.Avatar.Primary {
  border-color: var(--metabike-color-contrast);
}
