.Footer {
  color: #aaa;
  display: flex;
  align-items: center;
  margin: 10px 0 30px;
}

.Footer :global(.material-icons) {
  margin: 0 5px;
}

.Footer a {
  text-decoration: none;
  color: #999;
}
