.Footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  position: fixed;
  left: 10px;
  bottom: 0;
  font-family: 'lcddot';
  font-size: 5em;
}

.StravaLogo {
  width: 1em;
}