/* https://codepen.io/himalayasingh/pen/EdVzNL */
.knobs:before,
.knobs:after,
.knobs span {
  position: absolute;
  top: 3px;
  width: 40px;
  height: 6px;
  font-size: 14px;
  text-align: center;
  line-height: 0.8;
  padding: 9px 4px;
  border-radius: 4px;
  transition: 0.3s ease all;
}

.knobs:before {
  content: '';
  left: 4px;
  background-color: var(--metabike-color-primary);
}

.knobs:after {
  content: 'mi';
  right: 4px;
  color: var(--metabike-color-dark);
}

.knobs span {
  display: inline-block;
  left: 8px;
  color: var(--metabike-color-white);
  z-index: 1;
}

.checkbox:checked + .knobs span {
  color: var(--metabike-color-dark);
}

.checkbox:checked + .knobs:before {
  left: 48px;
  background-color: var(--metabike-color-contrast);
}

.checkbox:checked + .knobs:after {
  color: var(--metabike-color-white);
}

.checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: var(--metabike-color-secondary-light);
  transition: 0.3s ease all;
  z-index: 1;
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  width: 100px;
  height: 30px;
  overflow: hidden;
  border-radius: 4px;
}
