:root {
  --metabike-color-light: #e5ddcb;
  --metabike-color-dark: #524656;
  --metabike-color-primary: #96b1aa;
  --metabike-color-secondary: #a7c5bd;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--metabike-color-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'lcddot';
  src: url('../fonts/lcddot.eot');
  src: url('../fonts/lcddot.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lcddot.woff') format('woff'),
    url('../fonts/lcddot.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
