:root {
  --metabike-color-light: #e5ddcb;
  --metabike-color-light2: #e9e4d8;
  --metabike-color-dark: #524656;
  --metabike-color-dark-2: #9c9c9d;
  --metabike-color-primary: #96b1aa;
  --metabike-color-secondary: #a7c5bd;
  --metabike-color-secondary-light: #d6e9e4;
  --metabike-color-secondary-light-2: #c7ddd6;
  --metabike-color-contrast: #eb7b59;
  --metabike-color-white: #eee;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--metabike-color-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'lcddot';
  src: url('../fonts/lcddot.eot');
  src: url('../fonts/lcddot.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lcddot.woff') format('woff'),
    url('../fonts/lcddot.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.spin {
  animation: spin 2.4s linear 0s infinite reverse;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
